.autocomplete-list {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

/* .autocomplete-list option:hover {
    background-color: white;
} */

.autocomplete-list div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list div:hover {
    background-color: white;
}
